<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<p>All fields are required</p>
<form class="register-form" action="/account/register" method="POST">
  <label for="account_firstname">First Name:</label>
  <input type="text" id="account_firstname" name="account_firstname" required>

  <label for="account_lastname">LastName:</label>
  <input type="text" id="account_lastname" name="account_lastname" required>

  <label for="account_email">Email:</label>
  <input type="email" id="account_email" name="account_email" required>

  <label for="account_password">Password*:</label>
  <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
  <span id="passBtn">Show Password</span>

  <button class="register" type="submit">Register</button>

  <div class="register-p">
    <p>
        * Password must be:
    </p>
    <p class="indent">
        <br>∙ At least 12 characters in length
        <br>∙ Contain at least 1 capital letter
        <br>∙ Contain at least 1 number
        <br>∙ Contain at least 1 special character
    </p>
  </div>

</form>
<script src="/js/script.js"></script>