/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-header {
  display: flex;
  justify-content: space-between;
  margin: 2vw;
  font-family: 'Mulish', sans-serif;
  color: black;
}

.siteName {
  font-size: 26px;
}

#tools {
  font-size: 12px;
}

a, a:visited, a:active, li {
  text-decoration: none;
  color: inherit;
} 

nav {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  height: 50px;
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}

main, footer {
  margin: 3vw;
}

h1 {
  margin: 25px 0;
}

/** Homepage **/
.hero {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .overlay {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #4ac8e8;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  width: 150px;
  font-size: 12px;
  margin: 5px;
  padding: 10px;
}

.overlay img {
  width: 100px;
  background-color: #4ac8e8;
  margin-top: 8px;
}

.reviews {
  margin: 20px 0;
}

.reviews p {
  line-height: 25px;
}

.upgrade-figures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.upgrades h2{
  margin-bottom: 15px;
}

figure {
  background-color: #4ac8e8;
  padding: 10px;
  border: 1px solid #333;
  width: 160px;
}

.homepage img {
  max-width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
}

figcaption {
  margin-top: 8px;
}

figcaption a {
  color: black;
  text-decoration: underline;
}

footer {
  font-family: 'Mulish', sans-serif;
  margin-top: 50px;
}

.notice {
  color: rgb(223, 57, 57);
}

/** Types View **/
#inv-display li {
  border: #7c7f8132 3px solid;
  border-radius: 5px;
  width: 220px;
  margin: 20px auto;
  list-style: none; 
  display: grid;
  place-items: center;
  text-align: center;
  height: 320px;
}

#inv-display img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin: 0;
}

.namePrice {
  width: 100%;
}

hr {
  margin: 20px 0;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.623);
  width: 100%;
}

/** Inventory Single View **/ 
.vehicle-detail__image-wrapper {
  width: 100%;
  margin: 30px 0;
  background-color: white;
  border: none;
}

.vehicle-detail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.vehicle-detail__info  {
  line-height: 35px;
}

.vehicle-detail__price,
.vehicle-detail__color,
.vehicle-detail__description {
  background-color: rgba(191, 191, 191, 0.161);
}

/** Account Page **/
.account-form {
  border: #868484fb 2px solid;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(154, 154, 154, 0.798);
  background-color: #2c3a55;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
}

label {
  display: block;
}

input {
  width: 100%;
  margin: 5px 0 10px;
  padding: 5px;
  line-height: 15px;
}

.submit {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
}

.account-form p {
  text-align: center;
}

.account-form a {
  text-decoration: underline;
}

.register {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  border-radius: 50px;
}

.indent {
  margin-left: 20px;
}

#passBtn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 4px;
  font-size: small;
  text-align: center;
}

/** Large Screen View **/
@media screen and (min-width: 600px) {
  body {
    background-image: url('../images/site/small_check.jpg');
  }

  /** Homepage **/
  #wrapper {
    border: #4ac8e8 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    max-width: 920px;
    margin: 24px auto;
  }

  main {
    display: grid;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.2s ease;
  }

  nav li:hover {
    background-color: white;
    color: black;
  }

  main h1, .hero {
    grid-column: span 2;
  }
  
  .reviews {
    grid-column: 2/3;
    padding: 0 15px;
    margin: 0;
  }

  .reviews h2, .upgrades h2 {
    margin: 15px;
  }

  .reviews p {
    line-height: 48px;
  }

  .upgrades {
    grid-row: 3/4;
  }

  /** Types View **/
  #inv-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .namePrice {
    height: 150px;
  }

  /** Inventory Single View **/
  .vehicle-detail {
    display: flex;
    gap: 20px;
  }

  .vehicle-detail__image-wrapper {
    width: 150%;
  }

  .vehicle-detail img {
    width: 100%;
  }

  .vehicle-detail h2 {
    margin-top: 25px;
  }

}
