/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-header {
  display: flex;
  justify-content: space-between;
  margin: 2vw;
  font-family: 'Mulish', sans-serif;
  color: black;
}

.siteName {
  font-size: 26px;
}

#tools {
  font-size: 12px;
}

a, a:visited, a:active, li {
  text-decoration: none;
  color: inherit;
} 

nav {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  height: 50px;
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}

main, footer {
  margin: 3vw;
}

/** Homepage **/
.hero {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .overlay {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #4ac8e8;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  width: 150px;
  font-size: 12px;
  margin: 5px;
  padding: 10px;
}

.overlay img {
  width: 100px;
  background-color: #4ac8e8;
  margin-top: 8px;
}

.reviews {
  margin: 20px 0;
}

.reviews p {
  line-height: 25px;
}

.upgrade-figures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.upgrades h2{
  margin-bottom: 15px;
}

figure {
  background-color: #4ac8e8;
  padding: 10px;
  border: 1px solid #333;
  width: 160px;
}

figure img {
  max-width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
}

figcaption {
  margin-top: 8px;
}

figcaption a {
  color: black;
  text-decoration: underline;
}

footer {
  font-family: 'Mulish', sans-serif;
}

/** Types View **/



/**Large Screen View **/
@media screen and (min-width: 600px) {
  body {
    background-image: url('../images/site/small_check.jpg');
  }

  /** Homepage **/
  #wrapper {
    border: #4ac8e8 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    max-width: 920px;
    margin: 24px auto;
  }

  main {
    display: grid;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.2s ease;
  }

  nav li:hover {
    background-color: white;
    color: black;
  }

  main h1, .hero {
    grid-column: span 2;
  }
  
  .reviews {
    grid-column: 2/3;
    padding: 0 15px;
    margin: 0;
  }

  .reviews h2, .upgrades h2 {
    margin: 15px;
  }

  .reviews p {
    line-height: 48px;
  }

  .upgrades {
    grid-row: 3/4;
  }

  /** Types View **/
}
  
