<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (notice && notice.length > 0) { %>
  <ul class="notice">
    <li><%= notice[0] %></li>
  </ul>
<% } %>

<div class="inv-management">
      <ul>
        <li>
          <a href="/inv/add-classification">
            Add New Classification
          </a>
        </li>
        <li>
          <a href="/inv/add-vehicle">
            Add New Vehicle
          </a>
        </li>
      </ul>
</div>

<div class="inv-update">
  <h2>Manage Inventory</h2>
  <p>Choose a classification to see inventory items.</p>
  <%- classificationSelect %>

  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page</noscript>

</div>

<script src="/js/inventory.js"></script>